
#app {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    overflow: hidden;
  } 
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  
  .swiper {
    width: 960px;
    height: 350px;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
  
  }
  
  .swiper-slide{
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .5s linear;
    border-radius: 20px;
  
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--biruu);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  /* @media screen and (max-width:724px) {
    .swiper {
       width: 100%;
       margin: 6.5rem;
       height: auto;
    }
    .swiper-slide img {
       width: 100%;
       
    }} */
